<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <div *ngFor="let ebook of ebooks" class="col-md-3">

                    <div class="product-box">

                        <a routerLink="">
                            <img src="assets/images/ebooks/placeholder.png" class="img-responsive" alt="a placehoder for this ebook">
                        </a>

                        <a routerLink="/ebooks">
                            <h1>{{ ebook.title }}</h1>
                        </a>

                        <div class="price">{{ ebook.price }}</div>
                        <button class="btn btn-primary btn-sm">Locked</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>