<div class="main-content">
  <div class="container-fluid">
    <img
      src="{{ ebook.folderPath }}/placeholder.png"
      class="img-responsive"
      alt="a placehoder for this ebook"
    />

    <h3>{{ ebook.title }}</h3>
    <div class="price">{{ ebook.price }}</div>

    <!-- TODO if unlocked, switch to open -->
    <button (click)="addToCart()" class="btn btn-primary btn-sm">
      Add to cart
    </button>
    <hr />
    <h4>Description</h4>
    <p>{{ ebook.description }}</p>

    <a routerLink="/ebooks" class="mt-5">Back to Ebooks List</a>
  </div>
</div>
