<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <table formGroupName="user">
      <tr>
        <th>
          <h3>User details</h3>
        </th>
      </tr>
      <tr>
        <td>
          <label for="fullName">Full Name</label>
          <input id="fullName" formControlName="fullName" type="text" />
          <div
            *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched)"
          >
            <div *ngIf="fullName?.errors">Your full name is required.</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label for="email">Email</label>
          <input id="email" formControlName="email" type="text" />
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <div *ngIf="email?.errors">
              Your email must be a valid email address format
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div>
    <table formGroupName="address">
      <tr>
        <th><h3>Address</h3></th>
      </tr>
      <tr>
        <td>
          <select formControlName="country" (change)="getStates('address')">
            <option *ngFor="let country of countries" [ngValue]="country">
              {{ country.title }}
            </option>
          </select>
          <!-- <div *ngIf="country?.invalid && (country?.dirty || country?.touched)">
            <div *ngIf="country?.errors">Country is required.</div>
          </div> -->
        </td>
      </tr>
      <tr>
        <td>
          <select formControlName="state">
            <option *ngFor="let state of addressStates" [ngValue]="state">
              {{ state.title }}
            </option>
          </select>
          <div *ngIf="state?.invalid && (state?.dirty || state?.touched)">
            <div *ngIf="state?.errors">State is required.</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label for="street">Street</label>
          <input id="street" formControlName="street" type="text" />
          <div *ngIf="street?.invalid && (street?.dirty || street?.touched)">
            <div *ngIf="street?.errors">Your street is required.</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label for="city">City</label>
          <input id="city" formControlName="city" type="text" />
          <div *ngIf="city?.invalid && (city?.dirty || city?.touched)">
            <div *ngIf="city?.errors">Your city is required.</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label for="zipCode">Zip Code</label>
          <input id="zipCode" formControlName="zipCode" type="text" />
          <div *ngIf="zipCode?.invalid && (zipCode?.dirty || zipCode?.touched)">
            <div *ngIf="zipCode?.errors">Your zip code is required.</div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div>
    <!-- <table>
      <tr>
        <th>
          <h3>Credit Card Details</h3>
        </th>
      </tr>
      <tr>
        <td>
          <label>Name of Card Holder</label>
          <input type="text" />
        </td>
      </tr>
      <tr>
        <td>
          <label>Card Number</label>
          <input type="text" />
        </td>
      </tr>
      <tr>
        <td>
          <label>Expiration date</label>
          <input type="text" />
        </td>
        <td>
          <label>Secret Code</label>
          <input type="text" />
        </td>
      </tr>
    </table> -->
    <table>
      <tr>
        <th>
          <h3>Total</h3>
        </th>
      </tr>
      <tr>
        <td>
          <p>Price: {{ totalPrice }}</p>
          <button type="submit">Purchase</button>
        </td>
      </tr>
    </table>
  </div>
</form>
